@use "@styles/variables" as *;

.screen {
  width: 100%;
  background: $dim-color;
  border-radius: 10px;
  min-height: 150px;
  font-size: clamp(24px, 8vw, 50px);
  line-height: 1.2;

  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;

  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal;

  overflow: hidden;
  overflow-y: auto;
}
