$primary-color: #ebb354;
$secondary-color: #5f787b;
$dark-color: #0e1011;
$dim-color: #272b2c;
$font-color: #e7e5e3;

$font-family: "Montserrat", sans-serif;
$font-size-main: 16px;
$font-weight-main: 600;
