@use "@/styles/variables" as *;

.calculator {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 335px;

  width: 100%;
  overflow: hidden;

  @media (max-width: 780px) {
    max-width: 295px;
  }
}
