@use "@/styles/variables" as *;

.calculator {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding-block: 50px;
  max-height: 100%;
  overflow-y: auto;
  min-height: 0;
  max-width: 335px;

  @media (max-width: 780px) {
    max-width: 295px;
  }
}
